<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>{% block title %} Get Started {% endblock %} </title>
   
  </head>
  <body>
    {% block body %}
    <div class="jumbotron text-center">
        <h1 class="display-4">Time-Entry Django Application</h1>
        <p class="lead"><strong>Developed by - Rishabh Mishra</strong></p>
        <hr class="my-4">
        <p><em>Features Covered In This Applications :</em></p>
        <ul class="list-group">
            <li class="list-group-item">As a user, I should be able to log my time entries for a task with the following fields :</li>
            <ul class="list-group text-center">
                <li class="list-group-item">○ Input field to enter task name.</li>
                <li class="list-group-item">○ A dropdown to choose the project that I am working on.</li>
                <li class="list-group-item">○ Start time and end time.</li>
                <li class="list-group-item">○ A timer which I can start to track time for a task.</li>
            </ul>
                  
            <li class="list-group-item list-group-item-primary"> As a user, I should be able to register with my name, username, email, etc. </li>
           
            <li class="list-group-item list-group-item-dark">As a user, I should be able to browse through my time entries of previous days.</li>
            <li class="list-group-item list-group-item-success">Time entries are stored in the database</li>
           
          </ul><br>
          <div class="container">
          <p>Lets get started !</p>
          <p>New User ? Please Create Your Account.</p>
        <a class="btn btn-primary btn-md" href="/register/" role="button">Register</a>
        <br><br>
          <p>Already have an account ? Login here !</p>
          <a class="btn btn-dark btn-md" href="/login/" role="button">Login</a>
        </div>
      </div>
     
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    {% block js %} {% endblock %}
    {% endblock %}  
  </body>
</html>