{% extends 'base.html' %}
{% block title %} User History {% endblock %}
{% block body %}

<div class="jumbotron text-center main-container container-fluid">
  
  <div class="row">
    <h5 class="lead"><strong></strong></h5><a href="/logout/"><button type="submit" id='two' class="btn btn-danger" style="position: absolute; top: 0; right: 0;">Logout</button></a>  
      <div class="col-lg-8 offset-lg-2">
  <blockquote class="blockquote text-center">
    <p class="mb-0"><h1>Work History</h1></p>
    <footer class="blockquote-footer">{{request.user}}<cite title="Source Title"></cite></footer>
  </blockquote>        
  </div>
  </div> 
  <a class="btn btn-success" href="/per-user-get-csv-employee-data/" role="button">Download Your Data</a>
  <br></br>
  {% for entry in entries %}
    <ul class="list-group">
      <li class="list-group-item">Task Entry Id - {{ entry.id }}</li>
      <li class="list-group-item">User  - {{ entry.user }}</li>
      <li class="list-group-item">Task - {{ entry.task }}</li>
      <li class="list-group-item">Project - {{ entry.get_project_display }}</li>
      <li class="list-group-item">Start Time - {{ entry.start_time }}</li>
      <li class="list-group-item">End Time - {{ entry.end_time }}</li>
      <li class="list-group-item">Duration - {{entry.duration}}</li>
      <br></br>
      <h3 class="display-5 container">----Next----</h3>
    </ul>   
    <h5>Want to add new tasks ?</h5><a href="/entry/"><button class="btn btn-primary">Go back to tasks page</button></a><br>
  
  
  {% endfor %}
{% endblock %}
