{% extends 'base.html' %}
{% block title %} Task Submit {% endblock %}
{% block body %}
       
    <div class="jumbotron text-center">
    <h1 class="display-3">Task submitted !</h1>
    
    <div class="alert alert-primary" id='add' role="alert">
        <h5 class="display-5 mx-2 my-2">Check your history of previous tasks here !</h5>
        <a href='/history/'><button class='btn btn-dark'>User History</button></a></div>  
    <hr>
  
    <p class="lead"><strong>Done with your tasks ? You can log out safely from here</strong></p>
    
    <a href="/logout/"><button type="submit" id='two' class="btn btn-success btn-lg">Logout</button></a>
  
  
{% endblock %} 
